<app-topmenu>
  <div buttons>
      <button mat-flat-button color="secondary" (click)="get_requested_resources()" >Refresh</button>
      <button mat-flat-button color="secondary" (click)="send_slip_to_printer()" >Print</button>
      <button mat-flat-button color="secondary" (click)="send_slip_to_printer_with_cutting()" >Print with cutting</button>
  </div>
</app-topmenu>

<ng-container *ngIf="!loading; else spinner">
    <div *ngIf="!isArray(apiResult)">
        {{ apiResult }}
    </div>
    <div id="print_area">
        <div *ngFor="let requester of apiResult">
            <div *ngIf="requester.group_items_by_user">
                <ng-template *ngTemplateOutlet="userDatas; context: { requester: requester }">
                </ng-template>
                <div *ngFor="let item of requester.books_descriptions">
                    <ng-template *ngTemplateOutlet="itemDatas; context: { item: item }">
                    </ng-template>
                </div>
                <ng-template *ngTemplateOutlet="userBottomFullname; context: { requester: requester }">
                </ng-template>
                <div class="cutting" style="break-after:page"></div>                
                <hr class="hring" />
            </div>
            <div *ngIf="!requester.group_items_by_user">
                <div *ngFor="let item of requester.books_descriptions">
                    <ng-template *ngTemplateOutlet="userDatas; context: { requester: requester }">
                    </ng-template>
                        <ng-template *ngTemplateOutlet="itemDatas; context: { item: item }">
                        </ng-template>
                    <ng-template *ngTemplateOutlet="userBottomFullname; context: { requester: requester }">
                    </ng-template>
                    <div class="cutting" style="break-after:page"></div>
                    <hr class="hring" />
                </div>
            </div>
        </div>
    </div>
</ng-container>    

<ng-template #spinner>
  <div class="loading-shade" *ngIf="loading">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
</ng-template>

<ng-template #userDatas let-requester="requester">
    <ngx-barcode *ngIf="requester.show_barcode"
        [bc-value]="requester.user_identifier" 
        [bc-width]="1.6"
        [bc-height]="50"
        [bc-font-size]="18"
        >
    </ngx-barcode>

    {{ requester.user_identifier }} ({{ requester.identifier_type }}) <br />
    <div *ngIf="requester.show_fullname && !requester.bottom_fullname">
        {{ requester.fullname }}
    </div>
</ng-template>

<ng-template #itemDatas let-item="item">
    <div style="text-align:right">
    <!--    <ngx-barcode 
           [bc-value]="item" 
           [bc-width]="1.6"
           [bc-height]="50"
           [bc-font-size]="18"
           >
        </ngx-barcode> -->
        {{ item.book_brief }} <br/>
        {{ item.book_barcode }} 
    </div>
</ng-template>
<ng-template #userBottomFullname let-requester="requester">
     <div *ngIf="requester.show_fullname && requester.bottom_fullname"
        style="padding-top:25px;font-weight:bolder;font-size: 20px"
        >
       <strong>
       {{ requester.fullname }}
       </strong>
     </div>
</ng-template>
