<app-topmenu>
  <div buttons>
      <button mat-flat-button color="secondary" (click)="get_requested_resources()" >Refresh</button>
      <button mat-flat-button color="secondary" (click)="send_slip_to_printer()" >Print</button>
  </div>
</app-topmenu>

<ng-container *ngIf="!loading; else spinner">
    <div *ngIf="!isArray(apiResult)">
        {{ apiResult }}
    </div>
    <div id="print_area">
        <div *ngFor="let requester of apiResult">
            <ngx-barcode *ngIf="requester.show_user_barcode"
                 [bc-value]="requester.user_identifier" 
                 [bc-width]="1.6"
                 [bc-height]="50"
                 [bc-font-size]="18"
                 >
             </ngx-barcode>
                {{ requester.user_identifier }}
                <div *ngFor="let item of requester.books_descriptions">
                    <div style="text-align:right">
                    <!--    <ngx-barcode 
                           [bc-value]="item" 
                           [bc-width]="1.6"
                           [bc-height]="50"
                           [bc-font-size]="18"
                           >
                        </ngx-barcode> -->
                        {{ item.book_brief }} <br/>
                        {{ item.book_barcode }}
                    </div>
                </div>
                   <hr />  
        </div>
    </div>
</ng-container>    

<ng-template #spinner>
  <div class="loading-shade" *ngIf="loading">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
</ng-template>