<app-topmenu>
  <div buttons>
    <button mat-flat-button type="button" color="primary" (click)="save()" disabled="{{!(form?.dirty)&&(!form_changed)}}">Save</button>
  </div>
</app-topmenu>
<div class="loading-shade" *ngIf="saving">
  <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>
<div *ngIf="form">
  <form [formGroup]="form">
    <section class="settings-section">
        <ng-container *ngIf="!this.loading; else spinner">     
            <app-wrapped-sortable [idents_ordered]="config.idents_ordered" [idents_checked]="config.idents_checked" [form]="form" (form_changed)="form_change($event)" (form_value_var)="form_var_updated($event)"> </app-wrapped-sortable>
        </ng-container>    
    </section>
  </form>
</div>